<!-- views/newEvent.ejs -->
<!doctype html>
<html>
<head>
    <title>Add Event</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script src="/scripts/NavigationBar.js"></script>
    <script src="/scripts/geoLocationController.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default" id="navBar">
        <script>
            fetchNavigationBar(<%=user_id%>,"menuEvents")
        </script>
    </nav>
    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-calendar-plus-o"></span> Create new event</h1>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- NEW EVENT FORM -->
        <form action="/newEvent" method="post">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" rows="2" name="description" style="resize:vertical"></textarea>
            </div>
            <div class="form-group">
                <label>Place</label>
                <input type="text" class="form-control" name="place">
            </div>
            <!--<div class="form-group">-->
                <!--<label>Date</label>-->
                <!--<input type="text" class="form-control" name="date1" id="dateTime2">-->
                <!--<button type="button" class="btn btn-success btn-xs" id="dateToday2">Today</button>-->
            <!--</div>-->
            <div class="form-group">
                <label>Date</label>
                <div class='input-group date' id='datetimepicker' style="cursor: pointer">
                    <input type='text' name="date" id="dateTime" class="form-control">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <button type="button" class="btn btn-success btn-xs" id="dateToday">Today</button>
            </div>
            <script type="text/javascript">
                $(function () {
                    $("#datetimepicker").datepicker({
                        autoclose: true,
                        todayHighlight: true,
                        format: "yyyy-mm-dd",
                    });//.datepicker('update', new Date());
                });
            </script>
            <div class="form-group">
                <label>Starting</label>
                <input type="text" class="form-control" name="starting">
            </div>
            <div class="form-group">
                <label>Ending</label>
                <input type="text" class="form-control" name="ending">
            </div>
            <div class="form-group">
                <label>Geolocation</label>
                <input type="text" class="form-control" name="geolocation" id="geoloc">
                <p></p>
                <button type="button" class="btn btn-success btn-xs" id="currentLocation">Current Location</button>
                <button type="button" class="btn btn-success btn-xs" id="openMap">Open map</button>
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Add event</button>
        </form>
        <hr>

        <p>Need an account? <a href="/join">Join</a></p>
        <p>Or go <a href="/">home</a>.</p>

    </div>
</div>
</body>
</html>